/* main.css */

@font-face {
    font-family: 'Sports Night';
    src: url(../fonts/SFSportsNight.ttf);
}

@font-face {
    font-family: 'Cowboys';
    src: url(../fonts/Cowboys.ttf);
}

@font-face {
    font-family: 'Stencil';
    src: url(../fonts/octin-stencil-rg.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url(../images/basket.jpg) no-repeat 0 0;
}

#page {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Text */
p {
    color: #fff;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

h1 {
    font-family: 'Sports Night', sans-serif;
    font-size: 100px;
    display: block;
    font-weight: bold;
    margin: .2em 0;
}

h2 {
    font-family: 'Cowboys', sans-serif;
    font-size: 50px;
    display: block;
    font-weight: bold;
    margin: .15em 0;
}

h2.score {
    font-size: 40px;
    font-family: 'Stencil', sans-serif;
    text-decoration: underline;
}

/* Main Divs */

.sections-container {
    width: 960px;
    position: relative;
}

.section {
    height: 400px;
    width: 474px;
    float: left;
    border: #000 dashed 2px;
    background-color: #444;
    overflow: hidden;
}

/* Scoreboard */

#scoreboard {
    width: 400px;
    height: 300px;
    margin: 0 35px;
    border: 2px solid #049b18;
    position: relative;
}

.scoreboard-half {
    width: 400px;
    height: 150px;
}