/* main.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url(../images/basket.jpg) no-repeat 0 0;
}

#page {
    max-width: 960px;
    margin: 0 auto;
}

/* Text */
p {
    color: #fff;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

/* Main Divs */

.sections-container {
    width: 960px;
    position: relative;
}

.section {
    height: 400px;
    width: 474px;
    float: left;
    border: #000 dashed 2px;
    background-color: #444;
    overflow: hidden;
}

/* Scoreboard */

#scoreboard {
    width: 400px;
    height: 300px;
    margin: 0 35px;
    border: 2px solid #049b18;
    position: relative;
}

.scoreboard-half {
    width: 400px;
    height: 150px;
}